{% extends 'layouts/app/index.html' %}

{% load static %}

{% block title %}
  <title>
    Upgrade plan
  </title>
{% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block scripts %}{% endblock scripts %}

{% block content %}
  <div id="content" class="container-fluid content collapsed">
    <div class="row">
      <div class="col-10">
        <div class="card rounded-4 border-0">
          <div class="card-body rounded-4 border-0 p-4">
            <div class="d-flex flex-column align-items-center mt-2">
              <h1 class="Text__H1H6__H2Title3Bold700 Text__900BlackHighEmp">Plans & Pricing</h1>
              <span class="text-muted Text__H1H6__H6LightRegular400 Text__600BlackLowEmp">Pay by month and cancel at any time</span>
            </div>
            <div class="pricing-table mt-5 p-3">
              <div class="row table-header">
                <div class="col-3">

                </div>
                <div class="col-3 plan">
                  <h3>Basic</h3>
                  <h1>
                    <span>$9</span><span class="fs-6">/month</span>
                  </h1>
                </div>
                <div class="col-3 plan">
                  <h3>Premium</h3>
                  <h1>
                    <span>$19</span><span class="fs-6">/month</span>
                  </h1>
                </div>
                <div class="col-3 plan">
                  <h3>Business</h3>
                  <h1>
                    <span>$29</span><span class="fs-6">/month</span>
                  </h1>
                </div>
              </div>
              <div class="row plan-item mt-3">
                <div class="col-3 item-description">
                  24/7 Support
                </div>
                <div class="col-3 item-availabilty">
                  <div class="badge rounded-circle">
                    <i class="fa-solid fa-check"></i>
                  </div>
                </div>
                <div class="col-3 item-availabilty">
                  <div class="badge rounded-circle">
                    <i class="fa-solid fa-check"></i>
                  </div>
                </div>
                <div class="col-3 item-availabilty">
                  <div class="badge rounded-circle">
                    <i class="fa-solid fa-check"></i>
                  </div>
                </div>
              </div>
              <div class="line-separator"></div>
              <div class="row plan-item">
                <div class="col-3 item-description">
                  24/7 Support
                </div>
                <div class="col-3 item-availabilty">
                  <div class="badge rounded-circle">
                    <i class="fa-solid fa-check"></i>
                  </div>
                </div>
                <div class="col-3 item-availabilty not-available">
                  <div class="badge rounded-circle">
                    <i class="fa-solid fa-xmark"></i>
                  </div>
                </div>
                <div class="col-3 item-availabilty">
                  <div class="badge rounded-circle">
                    <i class="fa-solid fa-check"></i>
                  </div>
                </div>
              </div>
              <div class="line-separator"></div>
              <div class="row plan-item">
                <div class="col-3 item-description">
                  24/7 Support
                </div>
                <div class="col-3 item-availabilty">
                  <div class="badge rounded-circle">
                    <i class="fa-solid fa-check"></i>
                  </div>
                </div>
                <div class="col-3 item-availabilty not-available">
                  <div class="badge rounded-circle">
                    <i class="fa-solid fa-xmark"></i>
                  </div>
                </div>
                <div class="col-3 item-availabilty">
                  <div class="badge rounded-circle">
                    <i class="fa-solid fa-check"></i>
                  </div>
                </div>
              </div>
              <div class="line-separator"></div>
              <div class="row plan-item">
                <div class="col-3 item-description">
                  24/7 Support
                </div>
                <div class="col-3 item-availabilty">
                  <div class="badge rounded-circle">
                    <i class="fa-solid fa-check"></i>
                  </div>
                </div>
                <div class="col-3 item-availabilty not-available">
                  <div class="badge rounded-circle">
                    <i class="fa-solid fa-xmark"></i>
                  </div>
                </div>
                <div class="col-3 item-availabilty">
                  <div class="badge rounded-circle">
                    <i class="fa-solid fa-check"></i>
                  </div>
                </div>
              </div>
              <div class="line-separator"></div>
              <div class="row plan-item">
                <div class="col-3 item-description">
                  24/7 Support
                </div>
                <div class="col-3 item-availabilty">
                  <div class="badge rounded-circle">
                    <i class="fa-solid fa-check"></i>
                  </div>
                </div>
                <div class="col-3 item-availabilty not-available">
                  <div class="badge rounded-circle">
                    <i class="fa-solid fa-xmark"></i>
                  </div>
                </div>
                <div class="col-3 item-availabilty">
                  <div class="badge rounded-circle">
                    <i class="fa-solid fa-check"></i>
                  </div>
                </div>
              </div>
              <div class="line-separator"></div>
              <div class="row plan-item">
                <div class="col-3">
                  
                </div>
                <div class="col-3 item-action">
                  <button type="button" class="button-main-outline">Get started</button>
                </div>
                <div class="col-3 item-action">
                  <button type="button" class="button-main">Get started</button>
                </div>
                <div class="col-3 item-action">
                  <button type="button" class="button-main-outline">Get started</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
