:root {
  --Gray-50: #FAFAFA;
  --Gray-100: #F5F5F5;
  --Gray-200: #EEEEEE;
  --Gray-300: #E0E0E0;
  --Gray-400: #BDBDBD;
  --Gray-500: #9E9E9E;
  --Gray-600: #757575;
  --Gray-700: #616161;
  --Gray-800: #424242;
  --Gray-900: #212121;
  --Gray-950: #121212;
  --main-color50: rgba(234, 247, 255, 1);
  --main-color100: rgba(208, 236, 255, 1);
  --main-color200: rgba(171, 224, 255, 1);
  --main-color300: rgba(114, 206, 255, 1);
  --main-color400: rgba(48, 176, 255, 1);
  --main-color500: rgba(0, 136, 255, 1);
  --main-color600: rgba(0, 96, 255, 1);
  --main-color700: rgba(0, 70, 255, 1);
  --main-color800: rgba(0, 57, 221, 1);
  --main-color900: rgba(0, 55, 172, 1);
  --main-colormain-950: rgba(4, 36, 108, 1);
  --secondary-color50: rgba(255, 246, 237, 1);
  --secondary-color100: rgba(255, 233, 212, 1);
  --secondary-color200: rgba(255, 208, 169, 1);
  --secondary-colormain-300: rgba(255, 167, 101, 1);
  --secondary-color400: rgba(254, 130, 57, 1);
  --secondary-color500: rgba(252, 95, 19, 1);
  --secondary-color600: rgba(237, 68, 9, 1);
  --secondary-color700: rgba(197, 49, 9, 1);
  --secondary-color800: rgba(156, 39, 16, 1);
  --secondary-color900: rgba(126, 35, 16, 1);
  --secondary-color950: rgba(68, 15, 6, 1);
  --text900-black-high-emp: rgba(48, 60, 88, 1);
  --text700-black-medium-emp: rgba(69, 82, 110, 1);
  --text600-black-low-emp: rgba(112, 125, 155, 1);
  --text200-white-low-emp: rgba(238, 238, 238, 1);
  --text100-white-medium-emp: rgba(245, 245, 245, 1);
  --text50-white-high-emp: rgba(255, 255, 255, 1);
  --textdisabled: rgba(208, 208, 208, 1);
  --naturalblack: rgba(24, 26, 32, 1);
  --natural-900: rgba(33, 33, 33, 1);
  --natural-800: rgba(66, 66, 66, 1);
  --natural-700: rgba(97, 97, 97, 1);
  --natural-600: rgba(117, 117, 117, 1);
  --natural-500: rgba(158, 158, 158, 1);
  --natural-400: rgba(189, 189, 189, 1);
  --natural-300: rgba(224, 224, 224, 1);
  --natural-200: rgba(238, 238, 238, 1);
  --natural-100: rgba(245, 245, 245, 1);
  --natural-50: rgba(250, 250, 250, 1);
  --statuserror: rgba(255, 107, 107, 1);
  --statussuccess: rgba(44, 198, 114, 1);
  --statuswarning: rgba(255, 159, 67, 1);
  --statusinfo: rgba(84, 160, 255, 1);
  --statusalert: rgba(254, 202, 87, 1);
  --text-h1-h6-h1-bold-bold-700-font-family: "Inter", Helvetica;
  --text-h1-h6-h1-bold-bold-700-font-weight: 700;
  --text-h1-h6-h1-bold-bold-700-font-size: 56px;
  --text-h1-h6-h1-bold-bold-700-letter-spacing: 0px;
  --text-h1-h6-h1-bold-bold-700-line-height: 64px;
  --text-h1-h6-h1-bold-bold-700-font-style: normal;
  --text-h1-h6-h2-title-3-bold-700-font-family: "Inter", Helvetica;
  --text-h1-h6-h2-title-3-bold-700-font-weight: 700;
  --text-h1-h6-h2-title-3-bold-700-font-size: 40px;
  --text-h1-h6-h2-title-3-bold-700-letter-spacing: 0px;
  --text-h1-h6-h2-title-3-bold-700-line-height: 48px;
  --text-h1-h6-h2-title-3-bold-700-font-style: normal;
  --text-h1-h6-h3-title-2-bold-700-font-family: "Inter", Helvetica;
  --text-h1-h6-h3-title-2-bold-700-font-weight: 700;
  --text-h1-h6-h3-title-2-bold-700-font-size: 32px;
  --text-h1-h6-h3-title-2-bold-700-letter-spacing: 0px;
  --text-h1-h6-h3-title-2-bold-700-line-height: 40px;
  --text-h1-h6-h3-title-2-bold-700-font-style: normal;
  --text-h1-h6-h4-subtitle-bold-700-font-family: "Inter", Helvetica;
  --text-h1-h6-h4-subtitle-bold-700-font-weight: 700;
  --text-h1-h6-h4-subtitle-bold-700-font-size: 24px;
  --text-h1-h6-h4-subtitle-bold-700-letter-spacing: 0px;
  --text-h1-h6-h4-subtitle-bold-700-line-height: 32px;
  --text-h1-h6-h4-subtitle-bold-700-font-style: normal;
  --text-h1-h6-h5-bold-semibold-600-font-family: "Inter", Helvetica;
  --text-h1-h6-h5-bold-semibold-600-font-weight: 600;
  --text-h1-h6-h5-bold-semibold-600-font-size: 20px;
  --text-h1-h6-h5-bold-semibold-600-letter-spacing: 0px;
  --text-h1-h6-h5-bold-semibold-600-line-height: 28px;
  --text-h1-h6-h5-bold-semibold-600-font-style: normal;
  --text-h1-h6-h5-light-regular-400-font-family: "Inter", Helvetica;
  --text-h1-h6-h5-light-regular-400-font-weight: 400;
  --text-h1-h6-h5-light-regular-400-font-size: 20px;
  --text-h1-h6-h5-light-regular-400-letter-spacing: 0px;
  --text-h1-h6-h5-light-regular-400-line-height: 28px;
  --text-h1-h6-h5-light-regular-400-font-style: normal;
  --text-h1-h6-h6-bold-semibold-600-font-family: "Inter", Helvetica;
  --text-h1-h6-h6-bold-semibold-600-font-weight: 600;
  --text-h1-h6-h6-bold-semibold-600-font-size: 16px;
  --text-h1-h6-h6-bold-semibold-600-letter-spacing: 0px;
  --text-h1-h6-h6-bold-semibold-600-line-height: 24px;
  --text-h1-h6-h6-bold-semibold-600-font-style: normal;
  --text-h1-h6-h6-light-regular-400-font-family: "Inter", Helvetica;
  --text-h1-h6-h6-light-regular-400-font-weight: 400;
  --text-h1-h6-h6-light-regular-400-font-size: 16px;
  --text-h1-h6-h6-light-regular-400-letter-spacing: 0px;
  --text-h1-h6-h6-light-regular-400-line-height: 24px;
  --text-h1-h6-h6-light-regular-400-font-style: normal;
  --text-body-body-3-semi-bold-semibold-600-font-family: "Inter", Helvetica;
  --text-body-body-3-semi-bold-semibold-600-font-weight: 600;
  --text-body-body-3-semi-bold-semibold-600-font-size: 16px;
  --text-body-body-3-semi-bold-semibold-600-letter-spacing: 0px;
  --text-body-body-3-semi-bold-semibold-600-line-height: 24px;
  --text-body-body-3-semi-bold-semibold-600-font-style: normal;
  --text-body-body-3-light-regular-400-font-family: "Inter", Helvetica;
  --text-body-body-3-light-regular-400-font-weight: 400;
  --text-body-body-3-light-regular-400-font-size: 16px;
  --text-body-body-3-light-regular-400-letter-spacing: 0px;
  --text-body-body-3-light-regular-400-line-height: 24px;
  --text-body-body-3-light-regular-400-font-style: normal;
  --text-body-body-2-semibold-600-font-family: "Inter", Helvetica;
  --text-body-body-2-semibold-600-font-weight: 500;
  --text-body-body-2-semibold-600-font-size: 14px;
  --text-body-body-2-semibold-600-letter-spacing: 0px;
  --text-body-body-2-semibold-600-line-height: 20px;
  --text-body-body-2-semibold-600-font-style: normal;
  --text-body-body-2-light-regular-400-font-family: "Inter", Helvetica;
  --text-body-body-2-light-regular-400-font-weight: 400;
  --text-body-body-2-light-regular-400-font-size: 14px;
  --text-body-body-2-light-regular-400-letter-spacing: 0px;
  --text-body-body-2-light-regular-400-line-height: 20px;
  --text-body-body-2-light-regular-400-font-style: normal;
  --text-body-body-1-semi-bold-regular-400-font-family: "Inter", Helvetica;
  --text-body-body-1-semi-bold-regular-400-font-weight: 500;
  --text-body-body-1-semi-bold-regular-400-font-size: 12px;
  --text-body-body-1-semi-bold-regular-400-letter-spacing: 0px;
  --text-body-body-1-semi-bold-regular-400-line-height: 16px;
  --text-body-body-1-semi-bold-regular-400-font-style: normal;
  --text-body-body-1-light-regular-400-font-family: "Inter", Helvetica;
  --text-body-body-1-light-regular-400-font-weight: 400;
  --text-body-body-1-light-regular-400-font-size: 12px;
  --text-body-body-1-light-regular-400-letter-spacing: 0px;
  --text-body-body-1-light-regular-400-line-height: 16px;
  --text-body-body-1-light-regular-400-font-style: normal;
  --text-button-button-1-large-semibold-600-font-family: "Inter", Helvetica;
  --text-button-button-1-large-semibold-600-font-weight: 500;
  --text-button-button-1-large-semibold-600-font-size: 16px;
  --text-button-button-1-large-semibold-600-letter-spacing: 0px;
  --text-button-button-1-large-semibold-600-line-height: 24px;
  --text-button-button-1-large-semibold-600-font-style: normal;
  --text-button-button-2-small-semibold-600-font-family: "Inter", Helvetica;
  --text-button-button-2-small-semibold-600-font-weight: 500;
  --text-button-button-2-small-semibold-600-font-size: 14px;
  --text-button-button-2-small-semibold-600-letter-spacing: 0px;
  --text-button-button-2-small-semibold-600-line-height: 20px;
  --text-button-button-2-small-semibold-600-font-style: normal;
  --text-button-button-3-smaller-semibold-600-font-family: "Inter", Helvetica;
  --text-button-button-3-smaller-semibold-600-font-weight: 500;
  --text-button-button-3-smaller-semibold-600-font-size: 12px;
  --text-button-button-3-smaller-semibold-600-letter-spacing: 0px;
  --text-button-button-3-smaller-semibold-600-line-height: 16px;
  --text-button-button-3-smaller-semibold-600-font-style: normal;
  --text-navigation-navigation-semibold-600-font-family: "Inter", Helvetica;
  --text-navigation-navigation-semibold-600-font-weight: 700;
  --text-navigation-navigation-semibold-600-font-size: 20px;
  --text-navigation-navigation-semibold-600-letter-spacing: 0px;
  --text-navigation-navigation-semibold-600-line-height: 28px;
  --text-navigation-navigation-semibold-600-font-style: normal;
  --text-caption-caption-1-light-regular-400-font-family: "Inter", Helvetica;
  --text-caption-caption-1-light-regular-400-font-weight: 400;
  --text-caption-caption-1-light-regular-400-font-size: 10px;
  --text-caption-caption-1-light-regular-400-letter-spacing: 0px;
  --text-caption-caption-1-light-regular-400-line-height: 16px;
  --text-caption-caption-1-light-regular-400-font-style: normal;
  --text-caption-caption-1-bold-semibold-600-font-family: "Inter", Helvetica;
  --text-caption-caption-1-bold-semibold-600-font-weight: 700;
  --text-caption-caption-1-bold-semibold-600-font-size: 10px;
  --text-caption-caption-1-bold-semibold-600-letter-spacing: 0px;
  --text-caption-caption-1-bold-semibold-600-line-height: 16px;
  --text-caption-caption-1-bold-semibold-600-font-style: normal;
  --text-caption-caption-2-light-regular-400-font-family: "Inter", Helvetica;
  --text-caption-caption-2-light-regular-400-font-weight: 400;
  --text-caption-caption-2-light-regular-400-font-size: 8px;
  --text-caption-caption-2-light-regular-400-letter-spacing: 0.16px;
  --text-caption-caption-2-light-regular-400-line-height: 12px;
  --text-caption-caption-2-light-regular-400-font-style: normal;
  --text-caption-caption-2-bold-semi-bold-600-font-family: "Inter", Helvetica;
  --text-caption-caption-2-bold-semi-bold-600-font-weight: 600;
  --text-caption-caption-2-bold-semi-bold-600-font-size: 8px;
  --text-caption-caption-2-bold-semi-bold-600-letter-spacing: 0px;
  --text-caption-caption-2-bold-semi-bold-600-line-height: 12px;
  --text-caption-caption-2-bold-semi-bold-600-font-style: normal;
  --text-chips-chips-rest-regular-400-font-family: "Inter", Helvetica;
  --text-chips-chips-rest-regular-400-font-weight: 400;
  --text-chips-chips-rest-regular-400-font-size: 12px;
  --text-chips-chips-rest-regular-400-letter-spacing: 0px;
  --text-chips-chips-rest-regular-400-line-height: 16px;
  --text-chips-chips-rest-regular-400-font-style: normal;
  --text-chips-chips-active-semibold-600-font-family: "Inter", Helvetica;
  --text-chips-chips-active-semibold-600-font-weight: 600;
  --text-chips-chips-active-semibold-600-font-size: 12px;
  --text-chips-chips-active-semibold-600-letter-spacing: 0px;
  --text-chips-chips-active-semibold-600-line-height: 16px;
  --text-chips-chips-active-semibold-600-font-style: normal;
  --text-50-white-high-emp: #FFFFFF;
}